*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    font-size: 62.5%;
}
:root{
    --cor-defundo: hsla(203, 24%, 20%, 0.911);
    --cor-da-fonte:  hsl(0, 0%, 100%);
    --cor-do-menu:  hsla(28, 88%, 57%, 0.886);
    --cor-houver-menu:hsl(28, 88%, 57%);
    --cor-h2-h1: hsl(16, 96%, 48%);
    --cor-descricao:hsl(0, 0%, 13%);
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color:var(--cor-defundo);
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

a{
    text-decoration: none;
}

header{
    background-color: var(--cor-do-menu);
    position: fixed;
    width:100%;
    top: 0px; 
}
.menu{
    color: var(--cor-da-fonte);
    font-size: 2.5rem;
    
}
nav{
    height: 100%;
    width: 0px;
    background-color: var(--cor-do-menu);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    overflow: hidden;
    transition:width .3s;
}
nav a {
    color: var(--cor-da-fonte);
    font-size: 2.5rem;
    display: block;
    padding: 1.2rem 1.0rem 1.2rem 3.2rem;
}

nav a:hover{
    color:var(--cor-houver-menu);
    background-color: var(--cor-da-fonte);

}
.conteudo{
    padding: 1.0rem;
}
h1{
    text-align: center;
    color: var(--cor-h2-h1);
    margin: 3.0rem auto;
}
h2{
    color: var(--cor-h2-h1);
    margin-top:1.0rem;
}
p{
    font-size: 1.5rem;
    color: var(--cor-da-fonte);
}
figure{
    width: 50%;
    margin: 1rem auto;
    
}
figure img{
    width: 100%;
    
}
figcaption {
    background-color: var(--cor-descricao);
    color: var(--cor-da-fonte);
    padding: 0.5rem;
    text-align: center;
}

li{
    color: var(--cor-da-fonte);
    font-size: 2.0rem;
    margin: 20px auto;
    list-style-type: none;
}
li a{
    color: var(--cor-da-fonte);
}
li a:hover{
    color:var(--cor-h2-h1);
}
footer{
    background-color: black;
}

@media(max-width: 500px){
    html{
        font-size: 35%;
    }
}